
data/train/
data/test/
data/valid/

models/**/best_model_*.h5
Diseases_detection_app/best_model_densenet121.h5

models_evaluation/*
!models_evaluation/.gitkeep


*.ipynb_checkpoints
__pycache__/
.DS_Store
py.3/
env/
venv/

# ✅ Ignore all model files inside subfolders
models/DenseNet121/*
models/MobileNetV2/*
models/resnet50/*

!models/DenseNet121/.gitkeep
!models/MobileNetV2/.gitkeep
!models/resnet50/.gitkeep

*.png
*.csv

data_exploration/*
!data_exploration/.gitkeep

