
data/train/
data/test/
data/valid/
*.h5
models/**/*.h5

Diseases_detection_app/best_model_densenet121.h5
models/resnet50/model_resnet50/best_model_resnet50.h5

models_evaluation/*
!models_evaluation/.gitkeep


*.ipynb_checkpoints
__pycache__/
.DS_Store
py.3/
env/
venv/


*.csv

data_exploration/*
!data_exploration/.gitkeep

